extends layout

block content
  
  div(class='about-container')
    a(id='about' href='/about' target='_blank' rel='noopener noreferrer').
        [ ABOUT THIS GAME ]        

  main.game

  script(src='/javascripts/p5.js')