doctype html
html
  head
    title Drumroll - a cooperative, improvisational, musical web game for friends
    meta(name='author', content='Sam Shields, Nick Duckwiler')
    meta(name='viewport', content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/p5.js')
  body
    block content
