
body {

    background-color: #222222 !important;
    padding: 50px;
    font: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
}

a {
    color: white;
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-decoration: none;
}
